@import '../../../app/config/variables';

.about-link-container {
  position: absolute;
  bottom: 30px;
  left: 50px;
  z-index: 3;
}

.about-link {
  color: $off-white;
  cursor: pointer;
  transition: color 500ms ease;

  &:hover {
    color: $off-white-hover;
  }
}
