@import '../../app/config/variables';
@import '../../app/config/article';

.about {
  width: 100%;
  height: 100vh;
  padding: 25px;
  opacity: 0;
  transform: translateY(50px);
  transition: transform $transition-default ease, opacity $transition-default ease;
  transition-delay: 200ms;

  @include media-query(s) {
    padding: 50px;
  }

  &--show {
    opacity: 1;
    transform: translateY(0);
  }
}
